
.bc-fondo{
  height: 176px;                           
  background-color:#FFF9C4;
  font-family: sans-serif;
}

.bg-carrousel{
  margin-top :150px;
}

img.logoComanda{
  width: 3rem;
}
img.logo-footer{
  width: 5rem;
}

.mesa_libre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  margin-left: 80px;
  width: 100px; 
  height: 100px; 
  border: 3px solid #555;
  background: #0be441;
  color: black
}

.mesa_ocupada {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  margin-left: 80px;
  width: 100px; 
  height: 100px; 
  border: 3px solid #555;
  background: #cf1212;
  color: black;
}

@media (min-width:1200px) {
  .fs-4 {
    font-size: 24px!important;
  }
}


.container-imag{
  position: relative;
  display: inline-block;
  text-align: center;
}
.content-imag{
  position: absolute;
  top: 50px;
  left: 30px;
  font-family: system-ui;
}


a.nav-link,
a.nav-link.active {
  color: black!important;
  font-weight: bold;
  background: var(--darkPrimaryColor);
  margin: 0px;
  padding: 8px;
}

.card-title,
.card-text {
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2em;

}

.container{
  font-size: 25px !important;
  font-weight: bold;
}