*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-pedidos {
  background-color: orange;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  

  .nav-top {
    background: orange;
    width: 100%;
    height: 10%;
    top: 0;
    color: #fff;
    display: flex;
    align-items: center;
    position: sticky;
    border-bottom: 2px solid #fff;
    a {
      margin: 0 0 0 10px;
      padding: 10px;
      text-decoration: none;
      border: 2px solid #fff;
      width: 85px;
      border-radius: 30px;
      text-align: center;
      color: #fff;
    }
    .a-two {
      width: 130px;
    }
    a:hover {
      background: #fff;
      color: #000;
    }
  }
}
.modal{
 z-index: 1000000 !important;
}

.tab-pane{
  h1{
    color: #fff;
   
  }
  p{
    color:#fff;

  select{
    background: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 7px;
   margin-left: 5px;
   outline: none;
  option{
    color:#000;
   
   
  }


  }
  .btn-agregar{
    background: none;
    border: none;
    border: 2px solid #fff;
    padding: 5px;
    margin-left: 10px;
    color: #fff;
  }
}
}



.nav{
 
  height:10%;
  justify-content: center;
  align-items: flex-start;
  align-items: center;
  justify-content: space-around;
  background-color: orange;
  border-top: 2px solid #fff;
 
  li{
    
  
  i{
    color: #000;
  font-size: 30px;
    
  }
  .active{
    background: none !important;
    outline: none; 
    border: none;
    border: 2px solid #fff; 
  }
  
  
 }
}
