
.body{
 
    height: 176px;                           
  background: #FFF9C3;
  font-family: sans-serif;
}

.logoComanda{
  width: 8em!important;
}

.logo-footer{
  width: 8rem;
}



@media (min-width:1200px) {
  .fs-4 {
    font-size: 24px!important;
  }
}

