*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-pedidos {
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: space-between;

  .nav-top {
    background: orange;
    width: 100%;
    height: 10%;
    top: 0;
    color: #fff;
    display: flex;
    align-items: center;
    position: sticky;
    a {
      margin: 0 0 0 10px;
      padding: 10px;
      text-decoration: none;
      border: 2px solid #fff;
      width: 85px;
      border-radius: 30px;
      text-align: center;
      color: #fff;
    }
    .a-two {
      width: 130px;
    }
    a:hover {
      background: #fff;
      color: #000;
    }
  }
  .contenido {
    text-align: center;
    h1 {
      color: orange;
    }

    div {
      width: 100%;
      height: 100%;

      .btn-add {
        border: none;
        background: none;
        border: 1px solid orange;
        padding: 10px 20px 10px 20px;
      }
      .btn-add:hover {
        background-color: orange;
      }
    }
  }
  .container-nav {
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;

    nav {
      width: 100%;
      height: 80px;

      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: orange;
        height: 100%;
        li {
          list-style: none;
          padding: 10px;

          a {
            color: #fff;
            font-size: 30px;
            text-decoration: none;
            p {
              position: absolute;
              bottom: 80px;
            }

            img {
              width: 50px;
            }
          }
        }
        li:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
