body{
    font-family: 'roboto';
    background-color: rgb(243, 243, 113);
}
.inner-row{
    height: 100vh;
}
.form-box{
    background-color: rgb(251, 251, 209);
    box-shadow: 0 0 20px rgba(0,0,0,0.2) 0 5px 5px 0 rgba(0,0,0,0.24)
}
.primaryBg{
    background-color: rgb(255, 196, 0);
}
.registration-form{
    display: none;

}
