<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style-pedido.css">
   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
    <title> Pedidos</title>

</head>
<body>
   
  
   
 <section class="container-pedidos">
  <nav class="nav-top">
 <a href="review.html"><i class="fas fa-arrow-left"></i> Atras</a>
 <a href="#" class="a-two"><i class="fas fa-clipboard"></i> Ver Pedido</a>
  </nav>
  
<div class="contenido">


  <div class="tab-content">
    <div id="cafeteria" class="tab-pane fade">
      <h1>Desayuno/Merienda</h1>
      <p>Esta es la carta</p>
      <div class="carta">
        <h4>Promo 1</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad beatae aperiam illo quisquam dolor velit, hic doloribus, 
          amet laborum repudiandae recusandae quia enim dignissimos quos magnam est doloremque corrupti aliquid.</p>
          
          <button class="btn-add">Añadir</button>
          
          <h4>Promo 2</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad beatae aperiam illo quisquam dolor velit, hic doloribus, 
            amet laborum repudiandae recusandae quia enim dignissimos quos magnam est doloremque corrupti aliquid.</p>
            <button class="btn-add">Añadir</button>
            <h4>Promo 3</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad beatae aperiam illo quisquam dolor velit, hic doloribus, 
              amet laborum repudiandae recusandae quia enim dignissimos quos magnam est doloremque corrupti aliquid.</p>
            
              <button class="btn-add">Añadir</button>
      </div>
      <div class="carta">
        <h4></h4>
      </div>
     
    </div>
    <div id="comida" class="tab-pane fade">
      <h1>Almuerzo y Cena</h1>
      <p>Esta es la carta</p>
      <div class="carta">
        <h4>Promo 1</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad beatae aperiam illo quisquam dolor velit, hic doloribus, 
          amet laborum repudiandae recusandae quia enim dignissimos quos magnam est doloremque corrupti aliquid.</p>
          
          <button class="btn-add">Añadir</button>
          
          <h4>Promo 2</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad beatae aperiam illo quisquam dolor velit, hic doloribus, 
            amet laborum repudiandae recusandae quia enim dignissimos quos magnam est doloremque corrupti aliquid.</p>
            <button class="btn-add">Añadir</button>
            <h4>Promo 3</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad beatae aperiam illo quisquam dolor velit, hic doloribus, 
              amet laborum repudiandae recusandae quia enim dignissimos quos magnam est doloremque corrupti aliquid.</p>
            
              <button class="btn-add">Añadir</button>
      </div>
   
    </div>
    <div id="promos" class="tab-pane fade in active">
      <h1>Promos</h1>
      <p>Esta son las promociones.</p>
      <div class="carta">
        <h4>Promo 1</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad beatae aperiam illo quisquam dolor velit, hic doloribus, 
          amet laborum repudiandae recusandae quia enim dignissimos quos magnam est doloremque corrupti aliquid.</p>
          
          <button class="btn-add">Añadir</button>
          
          <h4>Promo 2</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad beatae aperiam illo quisquam dolor velit, hic doloribus, 
            amet laborum repudiandae recusandae quia enim dignissimos quos magnam est doloremque corrupti aliquid.</p>
            <button class="btn-add">Añadir</button>
            <h4>Promo 3</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad beatae aperiam illo quisquam dolor velit, hic doloribus, 
              amet laborum repudiandae recusandae quia enim dignissimos quos magnam est doloremque corrupti aliquid.</p>
            
              <button class="btn-add">Añadir</button>
      </div>
    </div>
    <div id="bebidas" class="tab-pane fade">
      <h1>Bebidas</h1>
      <p>Estas son las bebidas</p>
      <div class="carta">
        <h4>Promo 1</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad beatae aperiam illo quisquam dolor velit, hic doloribus, 
          amet laborum repudiandae recusandae quia enim dignissimos quos magnam est doloremque corrupti aliquid.</p>
          
          <button class="btn-add">Añadir</button>
          
          <h4>Promo 2</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad beatae aperiam illo quisquam dolor velit, hic doloribus, 
            amet laborum repudiandae recusandae quia enim dignissimos quos magnam est doloremque corrupti aliquid.</p>
            <button class="btn-add">Añadir</button>
            <h4>Promo 3</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad beatae aperiam illo quisquam dolor velit, hic doloribus, 
              amet laborum repudiandae recusandae quia enim dignissimos quos magnam est doloremque corrupti aliquid.</p>
            
              <button class="btn-add">Añadir</button>
      </div>

    </div>
    <div id="postres" class="tab-pane fade">
      <h1>Postres</h1>
      <p>Estos son los postres</p>
      <div class="carta">
        <h4>Promo 1</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad beatae aperiam illo quisquam dolor velit, hic doloribus, 
          amet laborum repudiandae recusandae quia enim dignissimos quos magnam est doloremque corrupti aliquid.</p>
          
          <button class="btn-add">Añadir</button>
          
          <h4>Promo 2</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad beatae aperiam illo quisquam dolor velit, hic doloribus, 
            amet laborum repudiandae recusandae quia enim dignissimos quos magnam est doloremque corrupti aliquid.</p>
            <button class="btn-add">Añadir</button>
            <h4>Promo 3</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad beatae aperiam illo quisquam dolor velit, hic doloribus, 
              amet laborum repudiandae recusandae quia enim dignissimos quos magnam est doloremque corrupti aliquid.</p>
            
              <button class="btn-add">Añadir</button>
      </div>
   
    </div>
  </div>
</div>
<div class="container-nav">
 <nav class="">
    <ul>
      <li><a href="#cafeteria" data-toggle="tab"><i class="fas fa-mug-hot"></i></a></li>
      <li><a href="#comida" data-toggle="tab" href="#comida"><i class="fas fa-pizza-slice"></i></a></li>
      <li class="active"><a href="#promos" data-toggle="tab"><i class="" aria-hidden="true"><img src="assets/img/img-pedidos/logo7.png" alt=""></i></a></li>
      <li><a href="#bebidas" data-toggle="tab"><i class="fas fa-wine-bottle"></i></a></li>
      <li><a href="#postres" data-toggle="tab"><i class="fas fa-ice-cream"></i></a></li>
      
     
    </ul>
  </nav>
  
</div>
 </section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        
</body>

</html>